* {
    text-align: center;
    background-color: transparent;
}

html {
    background-image: url('../img/spiral.gif');
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 100%;*/
    /*height: auto;*/
}

/*animations*/
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes red-fade {
    0%,  66% {
        opacity: 0;
    }
    33% {
        opacity: 1;
        background-color: red;
        border-color: white;
    }
    100% {
        border_color: red;
    }
}

@keyframes green-fade {
    0%,  66% {
        opacity: 0;
    }
    33% {
        opacity: 1;
        background-color: green;
        border-color: white;
    }
    100% {
        border_color: green;
    }
}

@keyframes blue-fade {
    0%,  66% {
        opacity: 0;
    }
    33% {
        opacity: 1;
        background-color: blue;
        border-color: white;
    }
    100% {
        border_color: blue;
    }
}

@keyframes yellow-fade {
    0%,  66% {
        opacity: 0;
    }
    33% {
        opacity: 1;
        background-color: yellow;
        border-color: white;
    }
    100% {
        border_color: yellow;
    }
}

@keyframes font-style {
    0%, 100% {
        font-size: inherit;
    }
    50% {
        font-size: 50px;
        color: green;
    }
}


/* title style */
#title {
    color: white;
}

#S-simple:hover {
    color: red;
    font-size: 30px;
}

#i-simple:hover {
    color: green;
    font-size: 30px;
}

#m-simple:hover {
    color: blue;
    font-size: 30px;
}

#p:hover {
    color: yellow;
    font-size: 30px;
}

#l:hover {
    color: red;
    font-size: 30px;
}

#e:hover {
    color: green;
    font-size: 30px;
}

#S-simon:hover {
    color: blue;
    font-size: 30px;
}

#i-simon:hover {
    color: yellow;
    font-size: 30px;
}

#m-simon:hover {
    color: red;
    font-size: 30px;
}

#o:hover {
    color: green;
    font-size: 30px;
}

#n:hover {
    color: blue;
    font-size: 30px;
}

/* Game borders and containers */
.container {
    width: 450px;
    height: 450px;
    margin: auto;
    border: solid 5px white;
    background-color: transparent;
    border-radius: 7%;
    animation: fade-in 3s;
    /*text-align: center;*/
}

.border-correct {
    border: solid 5px green;
}

.border-wrong {
    border:solid 5px red;
}

#boxes {
    width: 80%;
    height: 80%;
    margin-top: 13%;
    display: inline-block;
}

.box {
    width: 40%;
    height: 40%;
    display: inline-block;
    margin: 2%;
    border-radius: 7%;
    border: solid 2px;
}

/* Red Box */
.red {
    /*background-color: red;*/
    /*opacity: .5;*/
    border-color: red;
}

.red-intro {
    animation: red-fade 3s;
}

.light-up-red {
    background-color: red;
    border: solid 2px white;
}

/* Green Box */
.green {
    /*background-color: green;*/
    /*opacity: .5;*/
    border-color: green;
}

.green-intro {
    animation: green-fade 3s;

}

.light-up-green {
    background-color: green;
    border: solid 2px white;
}

/* Blue Box */
.blue {
    /*background-color: blue;*/
    /*opacity: .5;*/
    border-color: blue;
}

.blue-intro {
    animation: blue-fade 3s;
}

.light-up-blue {
    background-color: blue;
    border: solid 2px white;
}

/* Yellow Box */
.yellow {
    border-color: yellow;
}

.yellow-intro {
    animation: yellow-fade 3s;
}

.light-up-yellow {
    background-color: yellow;
    border: solid 2px white;
}


/* Game Labels and round number */
.score-tracker {
    color: white;
    /*background-color: white;*/
}

.start-container {
    /*text-align: center;*/
    size: 20px;
    color: white
}

#start-btn {
    height: 50px;
    width: 100px;
    color: white;
    border: none;
}

.round-label {
    display: none;
}

#current-round {
    color: white;
}

#round {
    color: white;
    position: fixed;
    margin-top: 1%;
}

.round-animate {
    animation: font-style 2s;
}

.active {
    display: inline-block;
}

.hidden {
    display: none;
}

.transparent {
    color: transparent;
}